html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #fff;
  font: 16px/1.5 Lato;
}

#identify-ui {
  height: 100%;
  background-color: transparent;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.8));
  width: 100%;
  position: fixed;
  z-index: 999;
  left:0;
  top:0;
  margin: auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

#code {
  font-size: 42px;
  font-weight: 600;
  color: white;
  border-bottom: 2px solid white;
  filter: drop-shadow(0, 2px, 2px, rgba(0,0,0,0.7));
}


#userAvatar {
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  left: 50px;
  width: 48px;
  height: 48px;
  background-size: cover;
  background-position: center;
  background-repeat:no-repeat;
}

.identify_copy {
  padding: 0;
  margin: 10px 0;
  color: white;
  text-shadow: 0 2px 2px rgba(0,0,0,0.7);
}

.logo {
  border-radius: 50%;
  background: linear-gradient(#F7F7F7, #EBEBEB);
  width: 64px;
  height: 64px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 2px rgba(0,0,0,0.7);
}

.logo_image {
  background-image: url("catalyst_logo.svg");
  background-size: contain;
  width: 36px;
  height: 36px;
  background-position: center;
  background-repeat: no-repeat;
}
#notification {
  color: black;
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  position: fixed;
  top: 50px;
  right: 50px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.7);

}

#video-player {
  position: absolute;
  left: 0;
  top: 0;
  width: 1280px;
  height: 720px;
}

#status-bar {
  position: absolute;
  bottom: 40px;
  left: -460px;
  width: 920px;
  height: 60px;
  margin-left: 50%;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 300ms ease-in-out;
  /*opacity: 0;*/
}

#status-bar.visible {
  opacity: 1;
}

#status-bar .progress {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 5px;
  background: #ccc;
}

#status-bar .progress span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  background: #00a9df;
}

#status-bar .now-playing, #status-bar .upcoming {
  position: absolute;
  top: 20px;
  height: 25px;
  line-height: 25px;
}

#status-bar .now-playing {
  left: 20px;
}

#status-bar .now-playing::before {
  content: 'Catalyst:';
  float: left;
  margin-right: .5em;
  color: #777;
}

#status-bar .upcoming {
  right: 20px;
}

#status-bar .upcoming::before {
  content: 'Next:';
  float: left;
  margin-right: .5em;
  color: #777;
}

#status-bar .title, #status-bar .time-slot {
  float: left;
}

#status-bar .time-slot {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}
